{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- Intro section -->
<section class="ts-about-section1">
    <h2 class="visually-hidden">About Section</h2>
    <div class="container-fluid mt-5 pb-2">
        <div class="row">
            <div class="col-2 col-sm-1">
                <!-- intentionally left blank for later design improvements -->
            </div>
            <div class="col-10 col-sm-11 ps-0">
                <p class="ts-about-aboutme">{{ consultant.about_me }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2 col-sm-1 ps-0">
                <!-- intentionally left blank for later design improvements -->
            </div>
            <div class="col-10 col-sm-11 ps-0">
                <p class="ts-p-std text-start text-sm-start fw-bold ps-0 mb-0">{{ consultant.first_name }} {{ consultant.last_name }}</p>
                <p class="ts-p-std text-start text-sm-start ps-0">{{ consultant.city }}.{{ consultant.country }}</p>
            </div>
        </div>
        
        <!-- roles -->
        {% if show_roles %}
        <div class="row mt-4">
            <div class="col-0 col-sm-1 ps-0">
            <!-- intentionally left blank for later design improvements -->
            </div>
            <div class="col-12 col-sm-11 ps-4 ps-sm-0">
                <div class="d-flex flex-wrap justify-content-around ps-0"> 
                    {% for role in roles %}
                    <div class="container ts-about-roles-container mt-2">
                        <div class="d-flex justify-content-center align-items-center fw-bold">
                            <i class="{{ role.icon }}"></i>
                        </div>
                        <div class="d-flex justify-content-center align-items-center fw-bold">
                            <p class="ts-p-std mb-1">{{ role.label }}</p>
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <p class="ts-p-std text-center">{{ role.text }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>

<!-- Employment History -->
<section class="ts-about-section2">
    <h2 class="visually-hidden">Past Employment Section</h2>
    {% if show_pastemployments %}
    <div class="container-fluid mt-5 pb-4">
        <div class="row">
            <div class="col-1 col-sm-1 ps-2">
                <!-- intentionally left blank for later design improvements -->
            </div>
            <div class="col-11 col-sm-11 ps-2">
                <p class="ts-about-section2-h pt-4">LATEST POSITIONS</p>
            </div>
        </div>
        {% for pastemployment in pastemployments %}
        <div class="row mt-sm-3">
            <div class="col-1 col-sm-1 ps-2">
                <!-- intentionally left blank for later design improvements -->
            </div>
            <div class="col-11 col-sm-5 mt-4 mt-sm-0 ps-2">
                <p class="ts-about-section2-h fs-4 mb-0 lh-1 text-start">{{ pastemployment.company }}</p>
            </div>
            <div class="col-11 d-none col-sm-6 d-sm-block ps-2 justify-content-center">
                <div>
                    <p class="ts-about-section2-p mb-0">{{ pastemployment.role }}</p>
                    <p class="ts-about-section2-p mb-0">{{ pastemployment.city }}, {{ pastemployment.start|date:"m/y" }} - {{ pastemployment.end|date:"m/y" }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-1 col-sm-1 ps-2">
                <!-- intentionally left blank for later design improvements -->
            </div>
            <div class="col-11 d-sm-none ps-2 pe-4 py-0">
                <p class="ts-about-section2-p lh-1 pt-2 my-0">{{ pastemployment.role }}</p>
                <p class="ts-about-section2-p lh-1 pt-1 pb-2 my-0">{{ pastemployment.city }}, {{ pastemployment.start|date:"m/y" }} - {{ pastemployment.end|date:"m/y" }}</p>
            </div>
        </div>
        {% endfor %}    
    </div>
    {% endif %}
</section>

<!-- skills section -->
<section class="ts-about-section3">
    <h2 class="visually-hidden">Skills Section</h2>
    <div class="container-fluid pt-4 pb-4">
        <div class="d-flex flex-wrap justify-content-around ps-0">   
            {% if show_skills %}
            <div class="shadow-sm rounded mx-3 mb-3 mt-5 pt-4 pb-5 px-5 ts-skills-container">
                <p class="ts-skills-heading mb-3">Skills</p>
                {% for skill in skills %}
                <p class="ts-skills-text fw-light mb-0">{{ skill.label }}</p>
                {% endfor %}
            </div>
            {% endif %}

            {% if show_tools %}
            <div class="shadow-sm rounded mx-3 mb-3 mt-5 pt-4 pb-5 px-5 ts-tools-container">
                <p class="ts-tools-heading mb-3">Tools</p>
                {% for t in tools %}
                <p class="ts-tools-text fw-light mb-0">{{ t.label }}</p>
                {% endfor %}
            </div>
            {% endif %}

            {% if show_interests %}
            <div class="shadow-sm rounded mx-3 mb-3 mt-5 pt-4 pb-5 px-5 ts-interests-container">
                <p class="ts-interests-heading mb-3">Interests</p>
                {% for interest in interests %}
                <p class="ts-interests-text fw-light mb-0">{{ interest.label }}</p>
                {% endfor %}
            </div>
            {% endif %}

        </div>
    </div>
</section>

<!-- How section -->
<section class="ts-about-section4">
    <h2 class="visually-hidden">How I Work Section</h2>
    {% if show_how %}
    <div class="container-fluid ps-3 py-4">
        <div class="m-1 py-2">
            <p class="ts-h4 mb-5 text-center">How I work *</p>
        </div>  
        <div class="d-flex flex-wrap justify-content-around text-center ps-0">       
            {% for how in hows %}
            <div class="container ts-about-how-container text-center">
                <img class="ts-about-section4-img" src="{{ how.icon.url }}" alt="how I work">
                <p class="ts-about-section4-heading fw-bold mb-0">{{ how.heading }}</p>
                <p class="ts-about-section4-text mb-4">{{ how.text }}</p>
            </div>
            {% endfor %}
        </div>
        <p class="ts-about-how-footer py-2">* Big fan of bringing AI into the process!</p>
    </div>
    {% endif %}
</section>

<!-- Press Links -->
<section class="ts-about-section5">
    <h2 class="visually-hidden">Press Links Section</h2>
    <div class="container-fluid pt-4 pb-4">
        {% if show_presslinks %}
        <p class="ts-about-section5-heading mb-2">Press</p>
        {% for presslink in presslinks %}
        <p class="ts-about-section5-text ps-2"><a href="{{ presslink.link }}" target="_blank"><i class="fa-solid fa-up-right-from-square"></i><span class="ms-1">{{ presslink.link_text }}</span></a></p>
        {% endfor %}
        {% endif %}
    </div>
</section>

{% endblock content %}