{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5">
    <img src="{{consultant.profile_image.url}}" width="35%" alt="">
    <h3>Name: {{ consultant.first_name }} {{ consultant.last_name }}</h3>
    <p>{{ consultant.intro_text }}</p>
    <p>{{ consultant.phone }}</p>
    <p>{{ consultant.street }}</p>
    <p>{{ consultant.city }}.{{ consultant.country }}</p>
</div>

<!-- About section -->
<div class="container mt-5">
    <h2>ABOUT</h2>
    {% if show_roles %}
    <h3>Roles</h3>
    {% for role in roles %}
    <p>{{ role.label }}</p>
    <p>{{ role.text }}</p>
    <p>{{ role.proficiency }}</p>
    {% endfor %}
    {% endif %}
    {% if show_tools %}
    <h3>Tools</h3>
    {% for t in tools %}
    <p>{{ t.label }}</p>
    <p>{{ t.text }}</p>
    <p>{{ t.proficiency }}</p>
    {% endfor %}
    {% endif %}
    {% if show_interests %}
    <h3>Interests</h3>
    {% for interest in interests %}
    <p>{{ interest.label }}</p>
    <p>{{ interest.text }}</p>
    <p>{{ interest.proficiency }}</p>
    {% endfor %}
    {% endif %}
    {% if show_skills %}
    <h3>Skills</h3>
    {% for skill in skills %}
    <p>{{ skill.label }}</p>
    <p>{{ skill.text }}</p>
    <p>{{ skill.proficiency }}</p>
    {% endfor %}
    {% endif %}
</div>

<!-- Employment History -->
<div class="container mt-5"></div>
    {% if show_pastemployments %}
    <h2>LATEST POSITIONS</h2>
    {% for pastemployment in pastemployments %}
    <h3>{{ pastemployment.role }} | {{ pastemployment.company }}</h3>
    <p>{{ pastemployment.start }} - {{ pastemployment.end }}</p>
    <p>{{ pastemployment.city }}.{{ pastemployment.country }}</p>
    <p>{{ pastemployment.text }}</p>
    {% endfor %}
    {% endif %}
</div>

<!-- Press Links -->
{% if show_presslinks %}
<h2>Press Links</h2>
{% for presslink in presslinks %}
<h3><a href="{{ presslink.link }}">{{ presslink.text }}</a></h3>
{% endfor %}
{% endif %}


{% endblock content %}