{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- intro section -->
<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-9 container-fluid">
                <img src="{{consultant.profile_image.url}}" class="img-fluid rounded float-end" alt="picture of the consultant">
            </div>
        </div>
        <br>
        
        <div class="row">
            <div class="col">
                <h4 class="ts-h4">{{ consultant.intro_text_heading }}</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-9">
                <p class="text-start ts-p-std">{{ consultant.intro_text }}</p>
                <br>
                <p class="text-start ts-p-std"><span class="fw-bold">Not enough?   </span>
                    <a href="{% url 'about' %}" class="ts_icon_link">
                        <i class="fa-solid fa-arrow-right-long"></i>
                    </a> 
                </p> 
                
                {% for social in socials %}
                <a target="_blank" href="{{ social.link }}" class="ts_icon_link">
                    <i class="{{ social.fa_icon }}"></i>
                </a>
                {% endfor %}

                <a href="{% url 'contact' %}" class="ts_icon_link">
                    <i class="fa-regular fa-envelope"></i>
                </a>
            </div>
        </div>
        <br>
    </div>
</section>

<!-- shows projects that are marked for home show-up -->
<section class="ts-bg-section-alt">
    <div class="container section-padding">
        <h4 class="ts-h4">projects</h4>
        <br>
        {% if show_projects %}
        {% for project in projects %}
        <div class="row">
            <div class="col container-fluid">
                <a href="{% url 'project_details' project.slug %}" class="project-link">
                    <img src="{{project.project_image.url}}" class="img-fluid rounded" alt="{{project.image_alt_text}}">
                </a>
            </div>
        </div>
        
        <div class="row">
            <div class="col-9 ts-home-neg-mar">
                <a href="{% url 'project_details' project.slug %}" class="project-link">
                    <h6 class="ts-h7 fw-bold text-decoration-none">{{ project.title }}</h6>
                </a>
                <p class="ts-p-std ts-padding-left">{{ project.sub_heading }}</p>
            </div>
        </div>
        <div class="col-4 ts-divider-black"></div>
        <div class="row">
            <div class="col">
                <p class="ts-p-std ts-padding-left">{{ project.summary }} </p>
            </div>
        </div>
        <br>
        {% endfor %}
        <p class="text-start ts-p-std ts-padding-left"><span class="fw-bold">More? This way. </span>
            <a href="{% url 'projects_list' %}" class="ts_icon_link">
                <i class="fa-solid fa-arrow-right-long"></i>
            </a> 
        </p> 
        {% endif %}
</section>

<!-- customer logo section -->
<section>
    {% if show_customers %}
    <div class="container section-padding">
        <h4 class="ts-h4">customers</h4>
    </div>  
    
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner ts-home-carousel">
            {% for customer in customers %}
            <div class="carousel-item {% if customer.id == 1 %}active{% endif %}">
                <a href="{{customer.link.url}}" target="_blank" class="ts-padding-left">
                    <img class="ts-logo" src="{{customer.logo.url}}" alt="{{customer.logo_alt_text}}">
                </a> 
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>
    {% endif %}

</section>

<!-- Employment History -->
<div class="container mt-5">
    {% if show_pastemployments %}
    <h2>LATEST POSITIONS</h2>
    {% for pastemployment in pastemployments %}
    <h3>{{ pastemployment.role }} | {{ pastemployment.company }}</h3>
    <p>{{ pastemployment.start }} - {{ pastemployment.end }}</p>
    <p>{{ pastemployment.city }}.{{ pastemployment.country }}</p>
    <p>{{ pastemployment.text }}</p>
    {% endfor %}
    {% endif %}
</div>
{% endblock content %}