asgiref==3.8.1
cloudinary==1.36.0
crispy-bootstrap5==0.7
dj-database-url==0.5.0
dj3-cloudinary-storage==0.0.6
Django==4.2.16
django-allauth==64.2.1
django-bootstrap-v5==1.0.11
django-crispy-forms==2.3
gunicorn==23.0.0
psycopg2==2.9.9
sqlparse==0.5.1
urllib3==1.26.20
whitenoise==5.3.0
