/* general */
body {
    background-color: var(--ts-bg-std-color);
}

.ts_navbar {
    font-family: var(--ts-p-std-font-family), sans-serif;
}

.ts_footer {
    font-family: var(--ts-p-std-font-family), sans-serif; 
    color: var(--ts-p-std-font-color);
    font-size: var(--ts-p-std-font-size);
    padding-top: 12px;
}

.section-padding {
    padding-top: var(--ts-section-padding);
    padding-bottom: var(--ts-section-padding-b);
}

.ts-padding-left{
    padding-left: var(--ts-std-padding-left);
}

.ts-brand {
    font-family: var(--ts-brand-font-family), sans-serif;
    font-size: var(--ts-brand-font-size);
    color: var(--ts-p-std-font-color);
    padding-left: var(--ts-brand-padding-left);
}

.ts-divider-black {
    margin: 0 0 12px var(--ts-std-padding-left);
    padding-bottom: 9px;
    border-top: 0.5mm solid var(--ts-p-std-font-color);
    line-height: 1px;
}

.ts-divider-footer {
    margin-left: var(--ts-std-padding-left);
    margin-right: var(--ts-std-padding-left);
    padding-bottom: 9px;
    border-top: 0.5px solid var(--ts-p-std-font-color);
}
.ts-p-std {
    font-size: var(--ts-p-std-font-size);   
    font-family: var(--ts-p-std-font-family), sans-serif; 
    color: var(--ts-p-std-font-color);
    margin-bottom: 6px; 
}

.ts-h7 {
    font-size: var(--ts-h7-std-font-size);   
    font-family: var(--ts-h7-std-font-family), sans-serif;
    color: var(--ts-p-std-font-color);
    padding-left: var(--ts-std-padding-left);
    padding-top: 16px;
}

.ts_spacer {
    margin-right: 6px;
}

.ts_icon_link {
    color: var(--ts-p-std-font-color);
    margin: 12px 6px 12px 0;
    text-decoration: none;
}

/* home */

.ts-h3 {
    padding-left: 24px;
    font-family: var(--ts-h4-std-font-family), sans-serif; 
    font-size: 26px;
}

.ts-home-p-sm-lp {
    padding-left: 24px;
}
.ts-bg-section-alt {
    background-color: var(--ts-bg-alt-color);
}

.ts-home-proj-container {
   max-width: 400px;
   margin-left: 0;
   margin-right: 0;
}
.ts-logo {
    width: auto;
    height: 30px;
    margin: 6px 10px;
}

.ts-home-neg-mar {
    margin-top: -36px;
    background-color: var(--ts-bg-alt-color);
}

/* about */
.ts-about-section1 {
    background-color: var(--ts-about-section1-bg-color);
}

.ts-about-section2 {
    background-color: var(--ts-about-section2-bg-color);
}

.ts-about-section3 {
    background-color: var(--ts-about-section3-bg-color);
}

.ts-about-aboutme {
    font-family: var(--ts-h4-std-font-family), sans-serif; 
    font-size: var(--ts-h7-std-font-size);  
    color: var(--ts-p-std-font-color);
}

.ts-about-section2-h {
    font-size: var(--ts-about-section2-heading-size);   
    font-family: var(--ts-about-section2-heading-font), sans-serif; 
    color: var(--ts-about-section2-text-color);
}

.ts-about-section2-p {
    font-size: var(--ts-about-section2-text-size);   
    font-family: var(--ts-about-section2-text-font), sans-serif; 
    color: var(--ts-about-section2-text-color);
}

.ts-skills-container {
    width: 220px;
    background-color: var(--ts-about-skills-card-bg-color);
}

.ts-skills-heading {
    font-size: var(--ts-h4-std-font-size);
    font-family:var(--ts-h4-std-font-family), sans-serif;
    color: var(--ts-about-skills-card-text-color);
}

.ts-skills-text {
    font-size: var(--ts-about-section2-text-size); 
    font-family:var( --ts-about-section3-text-font), sans-serif;
    color: var(--ts-about-skills-card-text-color);
}

.ts-tools-container {
    width: 220px;
    background-color: var(--ts-about-tools-card-bg-color);
}

.ts-tools-heading {
    font-size: var(--ts-h4-std-font-size);
    font-family:var(--ts-h4-std-font-family), sans-serif;
    color: var(--ts-about-tools-card-text-color);
}

.ts-tools-text {
    font-size: var(--ts-about-section2-text-size); 
    font-family:var( --ts-about-section3-text-font), sans-serif;
    color: var(--ts-about-tools-card-text-color);
}

.ts-interests-container {
    width: 220px;
    background-color: var(--ts-about-interests-card-bg-color);
}

.ts-interests-heading {
    font-size: var(--ts-h4-std-font-size);
    font-family:var(--ts-h4-std-font-family), sans-serif;
    color: var(--ts-about-interests-card-text-color);
}

.ts-interests-text {
    font-size: var(--ts-about-section2-text-size); 
    font-family:var( --ts-about-section3-text-font), sans-serif;
    color: var(--ts-about-interests-card-text-color);
}

.ts-about-section4 {
    background-color: var(--ts-about-section4-bg-color);
}

.ts-about-section4-heading {
    font-size: 16px;
    font-family:var(--ts-about-section4-heading-font), sans-serif;
    color: var(--ts-about-section4-text-color);
}

.ts-about-section4-img {
    width: 20px;
    height: auto;
}
.ts-about-section4-text {
    font-size: var(--ts-about-section2-text-size); 
    font-family:var(--ts-about-section4-text-font), sans-serif;
    color: var( --ts-about-section4-text-color);
}

.ts-about-section5 {
    background-color: var(--ts-about-section5-bg-color);
}

.ts-about-section5-heading {
    font-size: var(--ts-h4-std-font-size);
    font-family:var(--ts-about-section5-heading-font), sans-serif;
    color: var(--ts-about-section5-text-color);
}

.ts-about-section5-text {
    font-size: var(--ts-about-section2-text-size); 
    font-family:var(--ts-about-section5-text-font), sans-serif;
    color: var( --ts-about-section5-text-color);
    text-decoration: none;
}

/* projects */
.ts-h4 {
    padding-left: var(--ts-std-padding-left);
    padding-right: var(--ts-std-padding-left);
    font-family: var(--ts-h4-std-font-family), sans-serif; 
    font-size: var(--ts-h4-std-font-size);
}

.ts-proj-neg-mar {
    margin-top: -36px;
    background-color: var(--ts-bg-std-color);
}

/* project details */
.ts-sheading1 {
    color: var(--ts-pdetails-sheading1-color);
    font-size: var(--ts-pdetails-sheading1-font-size);
    font-family: var(--ts-pdetails-sheading-font-family), sans-serif;
    margin-bottom: 2px;
}

.ts-sheading2 {
    color: var(--ts-pdetails-sheading2-color);
    font-size: var(--ts-pdetails-sheading2-font-size);
    font-family: var(--ts-pdetails-sheading-font-family), sans-serif;
}

.ts-image-caption {
    font-size: var(--ts-p-std-font-size);
    font-family: var(--ts-p-std-font-family), sans-serif;
    font-weight: bold;
    line-height: 16px;
    padding: 0;
    margin: 0;
}

.ts-image-caption-light {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
}

.ts-video {
    width: 80%;
    height: auto;
    padding: 0 auto;
}

.ts-learning-container {
    width: 175px;
}

.ts-learning-section-heading {
    text-align: center;
}

.ts-learning-heading {
    font-size: var(--ts-h4-std-font-size);
    font-family:var(--ts-h4-std-font-family), sans-serif;
    color: var(--ts-h4-std-font-color);
    padding-left: 2px;
    padding-top: 6px;
}

/* walk through project styles
************************************************************
   start
*/

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}


.project-link {
    text-decoration: none;
    color: #445261;
}

.project-link:hover,
.page-link {
    color: #E84610;
}

.project-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

/* walk through project styles
************************************************************
   end
*/