/* fonts */
@font-face {
    font-family: 'Rychardwalker'; 
    src: url('static/fonts/RychardwalkerDemo-nRwRP.ttf'); 
}

/* defining custom properties */
:root {
--ts-p-std-font-size: 13px;
--ts-p-std-font-family: "Inter", sans-serif;
--ts-p-std-font-color: #121D24;

--ts-h7-std-font-size: 16px;
--ts-h7-std-font-color: #121D24;
--ts-h7-std-font-family: "Inter", sans-serif;

--ts-h4-std-font-family: "Rychardwalker", sans-serif;

--ts-std-padding-left: 16px;

--ts-std-bg-color: #FFFFFF;

}

body {
    background-color: var(--ts-std-bg-color);
}

.ts-p-std {
    font-size: var(--ts-p-std-font-size);   
    font-family: var(--ts-p-std-font-family); 
    color: var(--ts-p-std-font-color);
    padding-left: var(--ts-std-padding-left);
}

.ts-h7 {
    font-size: var(--ts-h7-std-font-size);   
    font-family: var(--ts-h7-std-font-family);
    color: var(--ts-p-std-font-color);
    padding-left: var(--ts-std-padding-left);
    padding-top: 9px;
}

.ts-h4 {
    padding-left: var(--ts-std-padding-left);
    font-family: var(--ts-h4-std-font-family); 
}

.ts-neg-mar {
    margin-top: -24px;
    background-color: var(--ts-std-bg-color);
}

/* walk through project styles
************************************************************
   start
*/
.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}


.project-link {
    text-decoration: none;
    color: #445261;
}

.project-link:hover,
.page-link {
    color: #E84610;
}

.project-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

/* walk through project styles
************************************************************
   end
*/