{% extends 'base.html' %} 
{% load static %}

{% block content %}

<section>
    <h2 class="visually-hidden">Client Registration List</h2>
    <div class="container-fluid text-start w-100 mt-5 pt-5">
        <p class="ts-h3">Client Registrations</p>
        <br>
        
        {% if user.is_superuser %}

        {% if show_registrations %}
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col" class="align-top">#</th>
                    <th scope="col" class="align-top">Name</th>
                    <th scope="col" class="d-none d-sm-table-cell align-top">eMail</th>
                    <th scope="col"  class="d-none d-sm-table-cell align-top">Approved</th>
                    <th scope="col" class="align-top">Approval Date</th>
                    <th scope="col" class="align-top">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for registration in registrations %}
                <tr>
                    <th scope="row">{{ registration.id }}</th>
                    <td>{{ registration.client }}</td>
                    <td  class="d-none d-sm-table-cell">{{ registration.email }}</td>
                    <td  class="d-none d-sm-table-cell">{{ registration.approved }}</td>
                    {% if registration.approved %}
                    <td>{{ registration.approval_date|date:"d/m/y"  }}</td>
                    {% else %}
                    <td> </td>
                    {% endif %}
                    <td>
                        {% if registration.allow_delete %} 
                        <button class="btn btn-delete mb-2 me-2" data-user="{{ registration.client }}">Delete</button>
                        {% endif %}
                        {% if not registration.approved %} 
                        <a id="approveClient" href="{% url 'approve_client' registration.id %}" class="btn btn-danger mb-2 me-2">Approve</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %} 
        <!-- for show_registrations -->
        <p>no registrations to display</p>

        {% endif %}

        {% else %} 
        <!--  for is_superuser -->
        <p>login as superuser to see registrations</p>
        
        {% endif %}
    </div>
</section>

<!-- Delete confirmation modal - re-used from CodeStar project -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete registration?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this registration? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/registrations.js' %}"></script>
{% endblock extras %}
