{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <h4 class="ts-h4">projects</h4>
    <br>
</div>

<div class="container">
    
    {% if show_projects %}
    {% for project in projects %}
    <div class="row">
        <div class="col container-fluid">
            <a href="{% url 'project_details' project.slug %}" class="project-link">
                <img src="{{project.project_image.url}}" class="img-fluid rounded" alt="{{project.image_alt_text}}">
            </a>
        </div>
    </div>
    
    <div class="row">
        <div class="col-9 ts-neg-mar">
            <a href="{% url 'project_details' project.slug %}" class="project-link">
                <h6 class="ts-h7 fw-bold text-decoration-none">{{ project.title }}</h6>
            </a>
            <p class="ts-p-std">{{ project.sub_heading }}</p>
        </div>
    </div>
    <div class="ts-divider-black"></div>
    <div class="row">
        <div class="col">
            <p class="ts-p-std">{{ project.summary }} </p>
        </div>
    </div>
    <br>

    {% endfor %}
    {% endif %}
</div>

{% endblock content %}