{% extends 'base.html' %} 
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2>{{ project.title }}</h2>
    <img src="{{ project.detail_image.url }}" width="35%" alt="{{ project.detail_image_alt }}">
    <h4>CUSTOMER</h4>
    <p>{{ project.customer }}</p>
    <br>
    <p> <span>{{ project.start|date:"m/y" }}</span> - <span>{{ project.end|date:"m/y" }}</span> </p>
    <br>
    <p>{{ project.sub_heading }}</p>
    <br>
    <p>{{ project.summary }}</p>
    <br>
    
    <!-- show any sections stored for the project -->
    {% if show_sections %}
    
    {% for section in sections %}
    {% if section.heading_1 %}
    <h3>{{ section.heading_1 }}</h3>
    {% endif %}
    {% if section.heading_2 %}
    <h2>{{ section.heading_2 }}</h2>
    {% endif %}
    <br>
    {% if section.text %}
    <p>{{ section.text }}</p>
    {% endif %}

    {% if show_images %}
    {% for image in images %}
    <!-- only display the images for the current section -->
    {% if image.section.id == section.id %}
    <img src="{{ image.image.url }}" width="35%" alt="{{ section.alt_text }}">
    {% if image.video %}
    <video width="35%" controls>
        <source src="{{ image.video.url }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endif %}
    
    {% endfor %}

    {% endif %}

    {% if show_learnings %}
    
    <h3>Learnings</h3>
    <br>
    {% for learning in learnings %}
    <h4>{{ learning.header }}</h4>
    <p>{{ learning.text }}</p>
    {% endfor %}
    
    {% endif %}

</div>

{% endblock content %}