{% extends 'base.html' %}
{% block content %}
{% load static %}

<section class="section-padding">
    <div class="container">
        <h4 class="ts-h4">projects</h4>
        <br>
    </div>
    <div class="container">
        {% if show_projects %}
        <div class="d-flex flex-wrap justify-content-center">
            {% for project in projects %}
            <div class="container ts-home-proj-container mx-sm-2">
                <div class="row">
                    <div class="col container-fluid">
                        <a href="{% url 'project_details' project.slug %}" class="project-link">
                            <img src="{{project.project_image.url}}" class="img-fluid rounded" alt="{{project.image_alt_text}}">
                        </a>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-9 ts-home-neg-mar">
                        <a href="{% url 'project_details' project.slug %}" class="project-link">
                            <h6 class="ts-h7 fw-bold text-decoration-none">{{ project.title }}</h6>
                        </a>
                        <p class="ts-p-std ts-padding-left">{{ project.sub_heading }}</p>
                    </div>
                </div>
                <div class="col-4 ts-divider-black"></div>
                <div class="row">
                    <div class="col">
                        <p class="ts-p-std ts-padding-left">{{ project.summary }} </p>
                    </div>
                </div>
                <br>
            </div>
            {% endfor %}
        </div>
    {% endif %}
    </div>>

</section>

{% endblock content %}