{% extends 'base.html' %} 
{% load static %}

{% block content %}

<div class="container mt-5">
    <h2>{{ project.title }}</h2>
    <img src="{{ project.detail_image.url }}" width="35%" alt="{{ project.detail_image_alt }}">
    <h4>CUSTOMER</h4>
    <p>{{ project.customer }}</p>
    <br>
    <p> <span>{{ project.start|date:"m/y" }}</span> - <span>{{ project.end|date:"m/y" }}</span> </p>
    <br>
    <p>{{ project.sub_heading }}</p>
    <br>
    <p>{{ project.summary }}</p>
    <br>
</div>

{% endblock content %}